* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BioRhyme", serif;
}

.pagina {
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.paginamenu {
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.paginacontact {
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
}

.navbar p {
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 25%;
}

.link a {
  text-decoration: none;
  color: black;
}

.container {
  height: auto;
  width: 100%;
}

.slideshow {
  height: auto;
  width: 100%;
}

.slideshow img {
  display: block;
  height: auto;
  width: 100%;
}

.restaurantinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 100px 0px;
}

.containerrestaurantinfo {
  height: auto;
  width: 40%;
}

.restauranttitel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin-bottom: 30px;
}

.restauranttitel h1 {
  font-size: 35px;
}

.restaurantbeschrijving {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
}

.restaurantbeschrijving p {
  font-size: 18px;
  line-height: 28px;
}

.indexlocatie {
  height: auto;
  width: 100%;
}

.indexlocatie iframe {
  display: block;
  width: 100%;
  height: 300px;
}

.zoekbalk {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  width: 100%;
}

.zoekbalktekst {
  height: 100%;
  width: 20%;
}

.zoekbalktekst p {
  font-size: 18px;
}

.zoekresultaatcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.zoekresultaten {
  height: 100%;
  width: 20%;
  padding: 10px;
}

.zoekresultatentekst {
  height: 100%;
  width: 20%;
}

input[type="text"] {
  float: left;
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #abd84b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  font-size: 20px;
}

label {
  display: inline-block;
  vertical-align: middle;
  padding-left: 148px;
  font-size: 20px;
}

.menurij {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  min-height: 350px;
  width: 100%;
}

.gerechtimg {
  height: 100%;
  width: 50%;
}

.gerechtimg img {
  display: block;
  width: 100%;
  height: 100%;
}

.gerechtbeschr {
  height: 100%;
  width: 50%;
  padding: 40px;
}

.naamrij {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

.gerechten {
  height: auto;
  width: 100%;
}

.gerecht {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

.gerechtinfo {
  display: flex;
  align-items: center;
  height: auto;
  width: 50%;
}

.gerechtprijs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 20%;
}

.contactcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.contactafbeelding {
  height: 100%;
  width: 100%;
}

.contactafbeelding img {
  display: block;
  height: 100%;
  width: 100%;
}

.contactboxen {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 60%;
  padding: 100px 0px;
}

.contacttekst {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  width: 45%;
}

.contacttekst p {
  font-size: 25px;
  padding: 25px;
}

.contactmogelijkheden {
  display: flex;
  align-items: center;
  height: auto;
  width: 45%;
}

.contactmogelijkheden li {
  font-size: 25px;
  list-style-type: none;
  padding: 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  background-color: black;
  font-size: 12px;
  color: white;
}
